{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

    {% block title %}
    <title>Ваш заголовок</title>
    {% endblock %}
</head>
<body>

    {% include 'main/nav.html' %}

    <div class="container mt-4">
        <div class="row">
            <aside class="col-md-3">
                <div class="card mb-4">
                    <img src="{% static 'main/img/gagarin.png' %}" alt="Гагарин" class="card-img-top" width="200px">
                    <div class="card-body text-center">
                        <h5 class="card-title">Астронавт</h5>
                    </div>
                </div>
            </aside>
            <main class="col-md-9">
                {% block content %}
                <h1>Контент вашего сайта</h1>
                <p>Здесь будет основной контент вашего сайта.</p>
                {% endblock %}
            </main>
        </div>
    </div>

    <!-- Подключение jQuery и Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>